.contact {
  background: #C8F7C5;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}

.contactDetails {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contactDetails:hover {
  background: #E4F1FE;
  color: green;
}