.intro{
    top: 0;
    background: #e0ebe8;
    min-height: 55vh;
    padding-top: 45vh;
}

.intro p{
    color: green;
}

.myPic {
  width: 300px;
  height: 300px;
  border-bottom: 2px solid black;
}